/* Google font import-- Heebo */

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Universal Style */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Body Style */
body {
    font-family: 'Heebo', sans-serif;
}

/* Nav style */

.nav-container {
    max-width: 90vw;
    /* background-color: aqua; */
    margin: auto;
    margin-top: 20px;
}


.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 1.25rem;
    font-weight: 500;
}

/* Banner Style */


.banner-container {
    /* border: 2px solid red; */
    max-width: 80vw;
    margin: 140px auto 70px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 540px;
}

.banner-title {
    color: #21243D;
    font-size: 2.75rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.banner-description {
    color: #21243D;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 38px;
}

.banner-btn {
    border-radius: 2px;
    background: var(--primary, #FF6464);
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
    border: 0;
    padding: 15px 20px;
}

.banner-img {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/* Main Style */

/* Recent Post Style */
.recent-post {
    background: #EDF7FA;
    width: auto;
    margin-bottom: 100px;
}

.recent-post-container {
    width: 80vw;
    margin: 20px auto;
    padding-bottom: 15px;
}

.post-badge {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.badge-title {
    color: #21243D;
    font-size: 1.375rem;
    font-weight: 400;
}

.viwe-all {
    text-decoration: underline;
    color: #00A8CC;
    font-size: 1rem;
    font-weight: 400;
}

.recent-post-card-container .card-title {
    color: #21243D;
    font-size: 1.625rem;
    font-weight: 700;
    margin-bottom: 17px;
}

.recent-post-card-container .card-info {
    color: #21243D;
    font-family: Heebo;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
}

.card-info>span {
    padding-right: 20px;
}

.card-info .border-left {
    border-left: 2px solid #21243D;
    padding-inline: 20px;
}

.recent-post-card-container .card-description {
    color: #21243D;
    font-size: 1rem;
    font-weight: 400;
}

.recent-post-card-container {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: 50px;

}

.recent-post-card-container .card {
    /* width: 418px;
    height: 295px; */
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
    padding: 24px;
}



























/* Media Quary */


/* Mobile or Small device */


@media screen and (max-width:576px) {
    .nav-links {
        justify-content: center;
    }

    .banner-container {
        flex-direction: column;
    }

    .banner-content {
        text-align: center;
        margin-bottom: 50px;
    }

    .banner-img {
        justify-content: center;
        width: 100%;
        height: 230px;
    }


    .recent-post-card-container {
        flex-direction: column;
        gap: 20px;
    }

    .recent-post-container {
        width: 90vw;
    }
}


@media screen and (min-width:576px) and (max-width:992px) {
    .nav-links {
        justify-content: center;
    }

    .banner-container {
        flex-direction: column;
    }

    .banner-content {
        text-align: center;
        margin-bottom: 50px;
    }

    .banner-img {
        justify-content: center;
        width: 100%;
    }

    .recent-post-card-container {
        flex-direction: column;
        gap: 20px;
    }

    .recent-post-container {
        width: 90vw;
    }
}